@import url('https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic');
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  padding: 1px;
  background-color: darkgrey;
}

#main {
  text-align: center;
  color: black;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animate{
  animation: fadein 1s;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
